li {
    list-style: none;
}

/*Opdracht 1a*/

.list-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/*Opdracht 1b*/
.list-two {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/*Opdracht 1c*/
.navbar-three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-three div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.list-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*Opdracht 1d*/
.navbar-four{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 4px dotted black;
}

.list-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 4px dotted black;

}

.navbar-four div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 4px dotted black;
}